{:kotoba.app/id "cloud.itonami.pi", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreihycktywyg2l4wh3gydzih44fgt5k6jobd2jni5edhu7sw72toiqm", :kotoba.app/embed-url "ipfs://bafkreihycktywyg2l4wh3gydzih44fgt5k6jobd2jni5edhu7sw72toiqm", :published {:archive "https://kotobase.net/ipfs/bafkreihycktywyg2l4wh3gydzih44fgt5k6jobd2jni5edhu7sw72toiqm", :size 4612, :put-status 201, :get-status 200, :at "2026-08-15T13:47:22.293Z"}}
